.blue-foot{
    position: relative;
    line-height: 24px;
    flex: 1;
    padding: 48px;
    z-index: 0;
    background-color: #1976d2;
    color: #fafafa;
    font-weight: 300;
  
}
.footer{
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 0 0 40px;
}
@media (max-width: 600px){
    .footer {
       flex-direction: column;
        
    }
    .foot-block{
        margin: 8px 24px;
    }
    footer h3 {
        font-size: 100%;
    }
}
 .footer-details{
    text-align: center;
}
footer::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAD6CAYAAABXq7VOAAAABGdBT…AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADr5f0oBcmudcjuNAAAAAElFTkSuQmCC) top 0 left 0/320px auto,url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAD6CAYAAABXq7VOAAAABGdBT…AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADr5f0oBcmudcjuNAAAAAElFTkSuQmCC) top 80px left 160px/320px auto;
    opacity: .05;
}
.footer .foot-block{
    margin: 0 24px;
    vertical-align: top;
}
.footer h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 16px;
}
.footer ul{
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;

}.footer ul li a{
    color: white;
    text-decoration: none;
}