<div class="blue-foot">
  <div class="footer">
    <div class="foot-block">
      <h3>RESOURCES</h3>
      <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Resource Listing</a></li>
          <li><a href="#">Press Kit</a></li>
          <li><a href="#">Blog</a></li>
</ul>
</div>
<div class="foot-block">
  <h3>HELP</h3>
  <ul>
    <li><a href="#">Stack Overflow</a></li>
    <li><a href="#"> Gitter</a></li>
    <li><a href="#">Report Issues</a></li>
    <li><a href="#">Code of Conduct</a></li>

</ul>
</div>
<div class="foot-block">
  <h3>COMMUNITY</h3>
  <ul>
    <li><a href="#">Events</a></li>
    <li><a href="#"> Meetups</a></li>
    <li><a href="#"> Twitter</a></li>
    <li><a href="#"> GitHub</a></li>
    <li><a href="#"> Contribute</a></li>
  </ul>
</div>
<div class="foot-block">
  <h3>LANGUAJES</h3>
  <ul>
    <li><a href="#">中文版</a></li>
    <li><a href="#"> 日本語版</a></li>
  </ul>
</div>
</div>
<div class="footer-details">
  <p >Powered by Google ©2010-2018. Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.</p>
  <p >Version 6.1.1-build.47304+sha.d4bf2da.</p>
</div>
</div>