.love{
    height: 200px;
    width: 80%;
    background-color: white;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    padding-bottom: 50vh;
}

@media (max-width: 850px){
    .love{
        width: 90%;
        padding-bottom: 52vh;
    }
    .love img{
        margin-top: 16px;
    align-items: center;
    align-content: center;
    align-items: center;
    }

}
@media (max-width: 600px){
    .love{
        width: 100%;
        flex-direction: column-reverse;
            padding-bottom: 10vh;
        
    }
    .love-img{
        width:100%;   
    }
    .love-text{
        width:100%;
    }
    

}
@media (max-width: 750px){ 
   
.love-text{
        width:100%;
          flex: 1;
    }
    .love img{
        width: 100% ;
        margin-top: 16px;
        flex: 1;
    }
    

 }
 .love-img{
      flex: 1;
    
}
.love-img img{
    width: 80%;
    margin-left: 23px;
}
.love-text {  
     flex: 1;
}
P{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    font-weight: 400;
}
.love-text h1{
    font-size: 20px;
    font-weight: 500;
    color: rgb(25, 118, 210);
    margin-top: 10px;
    text-transform: uppercase;
} 