.tool{
    height: 200px;
    width: 80%;
    background-color: white;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    padding-bottom: 50vh;
}

@media (max-width: 850px){
    .tool{
  
        padding-bottom: 45vh;
        

    }
    .tool img{
        margin-top: 16px;
    
    }

}
@media (max-width: 600px){
    .tool{
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        padding-bottom: 132vh;
        

        
    }
    .tool-img img{
        width: 100%;
        padding: 36px; 
    }
    .tool-text{
        width:100%;
    }

}
@media (max-width: 750px){ 
   
.tool-text{
        width:100%;
          flex: 1;
    }
    .tool img{
        width: 100% ;
        margin-top: 16px;
        flex: 2;
    }

 }
 .tool-img{
      flex: 1;
    
}
.tool-img img{
    width: 85%;
}
.tool-text {  
     flex: 1;
}
P{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    font-weight: 400;
}
.tool-text h1{
    font-size: 20px;
    font-weight: 500;
    color: rgb(25, 118, 210);
    margin-top: 10px;
    text-transform: uppercase;
} 