.tool{
    height: 200px;
    width: 80%;

    background-color: aquamarine;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: auto;
    margin-bottom: 32px;
}
@media (max-width: 850px){
    .tool{
        width: 90%;
        margin-left: 50px;

    }
    .tool img{
        margin-top: 16px;
    }

}
.tool-img{
    width:40%;
    flex: 1;
    
}
.tool-img img{
    height: 80%;
    padding-top:5px; 
   
}
.tool-text{
    width:60%;
     flex: 1;
}
P{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    font-weight: 400;
}
.tool-text h1{
    font-size: 20px;
    font-weight: 500;
    color: rgb(25, 118, 210);
    margin-top: 10px;
    text-transform: uppercase;
} 