* {
    -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      
  }
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    margin:0;
    background-color: #ffffff;
}
a  {
    text-decoration: none;
}
hr {
    border: none;
    background: #dbdbdb;
    height: 1px;
}


@media (max-width: 660px){
p, h1{

    text-align: center;
}



 }